body {
      background-color: #e3f2fd; /* Cor de fundo suave */
    }

h1 {
    color: #003366;        /* azul escuro */
    text-align: center;    /* centraliza o título */
  }

p {
    font-size: 18px;       /* fonte maior */
    text-align: justify;   /* justificado */
  }
ul {
    list-style-type: disc; /* mantém os marcadores padrão */
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px; /* espaçamento entre os itens */
}
 img {
    width: 200px;            /* largura adequada */
    height: auto;            /* mantém a proporção */
    border-radius: 10px;     /* bordas arredondadas */
    display: block;
    margin: 20px auto;       /* centraliza a imagem */
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 30px auto;
    background-color: #ffffff;
  }

  th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #e0e0e0;
  }
  a {
    color: #003366;
    text-decoration: none;
  }

  a:hover {
    color: #cc0000; /* muda para vermelho escuro ao passar o mouse */
    text-decoration: underline;
  }

